<div id="<%= dom_id airline %>">
  <p>
    <strong>Name:</strong>
    <%= airline.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= airline.image_url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= airline.slug %>
  </p>

</div>
